.container {
  margin: 50px 0 0 80px;
  font-family: Arial, sans-serif;
}

.container p {
  margin: 0 0 10px 0;
}

.container button {
  margin-bottom: 3px;
}

.title {
  color: green;
  font-size: 28px;
}

form div {
  margin-bottom: 8px;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 120px;
}

form button {
  margin-left: 100px;
}